@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Satisfy&display=swap');

/* font-family: 'Satisfy', cursive; */

:root {
  --primary-color: #009efa;
  --secondary-color: #00d2fc;
  --tertiary-color: #4ffbdf;
  --dark-color: #21232b;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: auto;
}

hr {
  margin: 2rem 0rem;
}

.margin-md {
  margin: 2rem;
}

.container {
  padding: 0rem 1rem;
  margin: auto;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  background-color: var(--dark-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: var(--tertiary-color);
  display: block;
  text-align: center;
  max-width: 140px;
  margin: auto;
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}

.list-non-bullet li a{
  display: inline;
  margin: auto;
  margin-right: 10px;
}

.list-non-bullet li{
  margin: auto;
  margin-bottom: 10px;
  width: 80vw;
  max-width: 500px;
}

.cards li{
  background-color: rgb(210, 228, 255);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.cards li:hover{
  background-color: white;
}

.list-non-bullet li:hover{
  transform: scale3d(1.01, 1.01, 1);
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navigation .nav-brand {
  font-weight: bold;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: white;
}

.navigation .link:hover{
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.navigation .link-active {
  border-radius: 5px;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.hero {
  padding: 2rem;
  padding-top: 5rem;
}

.hero .hero-img {
  max-width: 80%;
  width: 350px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  text-align: center;
  padding-top: 1rem;
  color: var(--primary-color);
}

.hero-img{
  align-items: center;
}

.hero .hero-heading .heading-inverted {
  font-size: 2rem;
  color: #2e2e2e;
}

.section {
  width: 70vw;
  padding: 2rem;
  margin: auto;
  margin-bottom: 20px;
}

.section h1 {
  text-align: center;
}

.ow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  max-width: 700px;
  background-color: var(--secondary-color);
}

.footer {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: var(--primary-color);
  padding: 1rem 1rem;
  text-align: center;
  color: white;
}

.footer {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

.showcase-list {
  padding: 2rem;
}

.showcase-blog {
  padding-bottom: 6rem;
}

.icon {
  text-decoration: none;
  display: inline-block;
  padding: 0.7rem;
  font-size: 2rem;
  color: white;
}

.icon:hover{
  color: #21232b;
}