.App {
  font-family: "Times New Roman", serif;
  max-width: 70%;
  max-height: 100%;
  margin: auto;
}

h1,
p {
  text-align: center;
}

button {
  border: 1px solid;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  font-size: large;
  background: #bae6fd;
  cursor: pointer;
}

div,
hr,
h3 {
  margin: 10px;
}

ul {
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

li {
  list-style: none;
  padding: 0.5rem;
  border: 1px solid;
  width: 50%;
  text-align: left;
  margin: 10px;
  border-radius: 1rem;
  background-color: #f0f9ff;
}
