@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap");

:root {
  --redColor: #ff5f6d;
  --yellowColor: #ffd166;
  --blueColor: #cbdafa;
  --darkColor: #2a3141;
}

body {
  font-family: roboto, serif;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-height: 91.8vh;
  background-image: linear-gradient(0deg, var(--yellowColor), var(--redColor));
  margin: 0px;
}

#container {
  margin: auto;
  text-align: center;
}

#index-heading {
  font-family: "Josefin Slab", serif;
  font-size: 5rem;
  text-align: center;
  color: var(--darkColor);
  font-weight: 800;
}

.index-btn {
  width: 10rem;
  height: 4rem;
  margin: 2rem;
  font-size: large;
  background-color: var(--darkColor);
  border: none;
  cursor: pointer;
}

.index-btn a {
  text-decoration: none;
  color: var(--blueColor);
}

.istri-centre {
  margin: auto;
  padding: 2rem;
  text-align: center;
  margin-top: 4rem;
}

.angle-input {
  display: block;
  margin: auto;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.istri-centre label {
  margin: auto;
  font-size: 1rem;
  padding: 2rem;
  border: none;
}

#check-triangle,
#submit-btn,
#hypo-btn,
#checkarea-btn {
  width: 10rem;
  height: 4rem;
  margin: 2rem;
  font-size: large;
  border-radius: 8px;
  background-color: var(--darkColor);
  border: none;
  cursor: pointer;
  color: var(--blueColor);
}

#quiz-centre {
  margin: auto;
  padding: 2rem;
  text-align: center;
  margin-top: 4rem;
}

#quiz-centre #output {
  font-size: 1.4rem;
  font-weight: bold;
}

.ques-container {
  background-color: rgba(255, 255, 255, 0.712);
  font-size: large;
}

.ques-container p {
  font-weight: bold;
}

.hypo-centre,
.area-centre {
  margin: auto;
  padding: 2rem;
  text-align: center;
  margin-top: 4rem;
}

.hypo-centre input,
.area-centre input {
  display: block;
  margin: auto;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.hypo-centre label,
.area-centre label {
  margin: auto;
  font-size: larger;
  padding: 2rem;
  font-weight: bold;
}

.hypo-centre #output,
.area-centre #output {
  font-size: 1.3rem;
  font-weight: bold;
}

.area-centre {
  min-height: 450px;
}

.upper-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  background-color: #38393bb0;
  position: fixed;
  top: 0;
  width: 100%;
}

.upper-nav li {
  float: right;
}

#home {
  float: left;
  font-size: 1.5rem;
}

.upper-nav li a{
  display: inline-block;
  color: var(--yellowColor);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  border-radius: 5px;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.quizlinks {
  position: relative;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

footer p {
  color: var(--darkColor);
  max-width: var(--width-break);
  margin: auto;
}
