body {
    margin: 0px;
    box-sizing: border-box;
    height: 100%;
    background-color: #312E81;
    color: white;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
    margin: 0px;
  }
  
.main {
    padding: 1rem;
    text-align: center;
    height: 80vh;
}

h1 {
    margin-bottom: 5rem;
}

.container {
    flex-direction: column;
    width: 30%;
    display: block;
    margin: auto;
}
  
p {
    padding: 2rem;
    text-align: center;
    font-size: larger;
    width: auto;
    margin: auto;
}

input {
    padding: 0.5rem;
    width: 80%;
    font-size: large;
}

button {
    margin: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #A5B4FC;
    font-size: 1.1rem;

}

#loading {
    margin-top: 1rem;
    display: none;
    height: 50%;
    width: 50%;
    margin: auto;
  }


.social {
    list-style-type: none;
    background-color: #A5B4FC;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.social ul {
    list-style-type: none;
    padding-inline-start: 0px;
    text-align: center;
}

.social a {
    color: black;
    padding: 2rem;
    box-sizing: border-box;
    text-decoration: none;
}

.social li {
    display: inline-block;
    padding: 0rem 0.5rem;
    font-size: larger;
    
}

.quizlinks {
    position: relative;
}
